<!DOCTYPE html>
%html
  %head
    %title GINA Mapping Mashups
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body.bp
    #page
      #header= render 'layouts/header'
      #content= yield
      #footer= render 'layouts/footer'
